<h3>Detalles de la herramienta</h3>
<div>
    <div>
        <label><b>ID: </b>{{herramienta.id}}</label>
    </div>
    <div>
        <label><b>NOMBRE: </b>{{herramienta.nombreHerramienta}}</label>
    </div>
    <div>
        <label><b>Tipo: </b>{{herramienta.tipo}}</label>
    </div>
    <div>
        <label><b>Cantidad: </b>{{herramienta.cantidad}}</label>
    </div>
    <div>
        <label><b>Fecha Ingreso: </b>{{herramienta.fechaIngreso}}</label>
    </div>
    <div>
        <label><b>Fecha Salida: </b>{{herramienta.fechaSalida}}</label>
    </div>
</div>

