<h2>Lista Herramientas</h2>
<table class="table table-striped">
<thead class="table-dark">
    <tr>
        <th>Herramienta</th>
        <th>Tipo</th>
        <th>Cantidad</th>
        
        <th></th>

    </tr>

</thead>
<tbody >
    <tr *ngFor="let herramienta of herramientas">
    <td>{{herramienta.nombreHerramienta}}</td>
    <td>{{herramienta.tipo}}</td> 
    <td>{{herramienta.cantidad}}</td>
    
    <td>
    
    <button (click)= "eliminarHerramienta (herramienta.id)" class="btn btn-danger" style="margin-left: 10px; ">Eliminar</button>
    
    
    </td>
    </tr>

</tbody>
</table>

